
.building_card{
  background-color: white;
  min-height: 965px;
  width: 1169px;
  display:grid;
  grid-template-rows: 150px auto;
  padding: 20px;
}
.building_card__card_header{
  font-family: Open Sans;

}
.D_rus_name{
  font-size: 28px;
}
.D_deu_name{
  font-size: 24px;
}
.D_building_info
{
  font-family: Open Sans;
  font-size: 18px;
}
.swiper {
  width: 100%;
  height: 500px;
}
.swiper-wrapper
{
}
.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;

}
.slider-photo{
  height: 100%;
}