
.films{
  display: flex;
  overflow-y: hidden;
  margin:48px;

}
.building_card{
  background-color: white;
  min-height: 965px;
  width: 1169px;
  display:grid;
  grid-template-rows: 150px auto;
  padding: 20px;
}
.card_header{
  font-family: Open Sans;

}
.rus_name{
  font-size: 28px;
}
.deu_name{
  font-size: 24px;
}
.building_info
{
  font-size: 18px;
}