
.films{
  display: flex;
  overflow-y: hidden;
  margin:48px;

}
.movie_card{
  background-color: white;
  min-height: 965px;
  width: 1169px;
    display:grid;
    grid-template-rows: 150px auto;
}
.movie_card_title{
  display:grid;
  margin-left: 44px;
  grid-template-columns: 82% 18%;
}
.like{
  display:flex;
  flex-direction: row;
  align-items: center;
  color: #999999;
  column-gap: 40px;
  font-size: 20px;
}

.movie_card_info{
  display:grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 56px;
}

.movie_poster{
  display:flex;
  height:650px;
  width: 460px;
  justify-content: center;
  margin-left: 39px;
  margin-top: 39px;
}
.movie_desc{
  display:grid;
  grid-template-rows: 10% 35%  45%;
  margin-left: 46px;
  margin-right: 46px;
  overflow-y:scroll;
}
.raiting{
  display:flex;
  align-items: center;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.actor_info{
  color: #333;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.movie_table{
  color: #000;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-items: center;
}

.movie_text{
  /* background-color: rgb(155, 223, 37); */
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
}
.Описание{
  font-size: 24px;
}
.TextD{
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rus_name{
color: #333;
font-family: Open Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.en_name{
  font-family: Open Sans;
font-size: 20px;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
color: #999999;
}
.age{
  color: #999999;
  border: solid 4px;
}
